
html {
    font-family: 'Roboto', sans-serif;
}
/* .grid{
 width: 80%;
} */
.grid-sizer,
.grid-item{ 
    width: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
 }
.grid-item--width2 { 
    width: 50%; 
    font-family: 'Montserrat', sans-serif;
}
.borda{
    border-right: dashed #cccccc 1px;
}

.hideez{
    visibility: hidden;
}

.fullname {
    
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 2px;
}

.myTitle{
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
.header{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 3px rgb(58, 58, 58);
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.educationTitle{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.jobTitle {
 font-size: 25px;
 font-family: 'Roboto', sans-serif;
}

.projectTitle{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.initiativeTitle{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.company {
font-size: 20px;
font-weight: bold;
color: #1ab0b4;
letter-spacing: 1px;
font-family: 'Roboto', sans-serif;
}

.gradientcolor {
    font-size: 30px;      
    /*background:-moz-linear-gradient(top, #64CED3 0%, #64CED3 25%, #3BBCC2 50%, #1ab0b5 75%,  #64CED3 100%); 
        background: -webkit-linear-gradient(top, #64CED3 0%, #64CED3 25%, #3BBCC2 50%, #1ab0b5 75%,  #64CED3 100%); 
        background: linear-gradient(to bottom,  #64CED3 0%, #64CED3 25%, #3BBCC2 50%, #1ab0b5 75%,  #64CED3 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;*/
       color: #1ab0b4;
}

/* linear-gradient(135deg, #00c4cc, #7d2ae8); */


.profileIcon{
    font-size: 21px;
}

.achievementIcon{
    font-size: 30px;
}

.profileIcon svg * {
    fill: url(#rg);
 }
.profileLinks {
    font-size: 15px;
    font-weight: bold;
}

.profilecontent{
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}
.profilecontent p {
    font-weight: normal;
    font-size: 18px;
    

}

.experienceCard {
    margin-bottom: 30px;
    border-bottom: dashed 1px #cccccc;
}

.achievementTitle {
    font-weight: bold;
    font-size: 20px;
}

.achievementCards {
    border-bottom: dashed 1px #cccccc;
}

.grid-item{
    width: 25%; 
    margin: 1px;
    white-space: nowrap;
    text-align: center;
}

.fa-calendar-alt{
    font-size: 15px;
    color: #cccccc;
    margin-right:5px;
}
.fa-map-marker-alt{
    font-size: 15px;
    color: grey;
    margin-right:5px;
}

progress{
	-webkit-appearance: none;
	appearance: none;
    border-radius: 8px;
}

::-webkit-progress-bar {
  background-color: whitesmoke;
  
}

::-webkit-progress-value {
  background:linear-gradient(to bottom,  #64CED3 0%, #64CED3 25%, #3BBCC2 50%, #1ab0b5 75%,  #64CED3 100%);
}

.freepixIcons{
    height: 40px;
    width: auto;
}

.passionCard{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    
}

.strengthCard{
    display: flex;
    font-weight: 500;
    font-size: 30px;
}
.strengthCard p{
    font-size: 20px;
}

.passionsFontAwesomeIcons{
    font-size: 25px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
}
li{
    font-family: 'Montserrat', sans-serif;
}

.languageCards{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


